// Specific CSS for your home-page
.q-module{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
  color: $navy;

  h2 {
    margin-bottom: 0;
  }
}

@media(max-width: 650px) {
  .q-module{
    margin: 20px 20px;
  }

  .footer {
    text-align: center;
  }

  .footer-info {
    text-align: center;
  }

  .footer-tiles {
    margin: 8px;
  }
}

.q-logo {
  height: 35px;
}
