.plant-patch-overlay {

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;

}

.q-card:hover .plant-patch-overlay {
  opacity: 1;
}
