.plant_overview {
  color: $navy;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 5px;
  min-height: calc(100vh - 151px);
  //height: 100%;
  overflow: hidden;
}

@media(max-width: 900px) {
  .plant_overview {
   grid-template-columns: 1fr;
   height: auto;
  }
}

.plant_features {
  padding: 20px 35px;
  display: flex;
  flex-direction: column;
  //justify-content: space-evenly;
  position: relative;

  h2 {
    margin-bottom: 0px;
    padding: 15px 0px;
    padding-left: 20px;
    //text-align: center;
  }

  ul {
  list-style-type: none;
  text-indent: -3em;
  }

  .back-icon {
    position: absolute;
    top: 8px;
    left: 24px;
    color: $l-yellow;

    &:hover {
      color: $yellow;
    }
  }
}

.plant-features-list {
  margin-left: 30px;
}

.plant_image {
  // border-radius: 2px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // margin: 8px;
  //width: auto;
  height: 100%;

  img {
   // height: calc(100vh - 151px);
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.carousel-item, .carousel-inner, .carousel {
  height: 100%
}

.button_list {
  margin-left: 20px;
}


