.plant_overview {
  color: $navy;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 5px;
  //height: calc(100vh - 161px);
  overflow: hidden;
}

@media(max-width: 900px) {
  .plant_overview {
   grid-template-columns: 1fr;
   height: auto;
  }
}

.plant_features {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;

  h2 {
    margin-bottom: 0px;
  }

  .back-icon {
    position: absolute;
    top: 8px;
    left: 24px;
    color: $l-yellow;

    &:hover {
      color: $yellow;
    }
  }

}

.plant_features ul {
  list-style-type: none;
  text-indent: -3em
}

.plant_image {
  // border-radius: 2px;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // margin: 8px;
  //width: auto;

  img {
    height: calc(100vh - 161px);
    width: 100%;
    object-fit: cover;
  }
}

