.plant_features ul {

  list-style-type: none;
  padding-left: 0;

}

.plant_features h3 {

  color: $green;

}

.plant_overview {

  margin: auto;
  width: 80%;
  color: $navy;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px 5px;
  align-items: center;
  //background-color: $light-gray;
}

@media(max-width: 900px) {
  .plant_overview {
   grid-template-columns: 1fr;
  }
}

