<div class="footer">
  <div class="footer-info">
    <div class="footer-nav">
      <%= link_to "home", root_path, class: "footer-tiles" %>
      <%= link_to "plants", plants_path, class: "footer-tiles" %>
      <%= link_to "account", plant_patch_path, class: "footer-tiles" %>
      <%= link_to "about us", about_us_path, class: "footer-tiles" %>
    </div>
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer-copyright">
      © copyright 2021 - hows it growing
    </div>
  </div>
</div>
