<div class="q-module">
  <h1>about us</h1>
</div>
<div class="parallax-container">
  <div class="background">
    <!-- <img class="background__image" src="https://images.unsplash.com/photo-1446071103084-c257b5f70672?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=931&q=80"> -->
  </div>
  <div class="container-fluid">
    <div class="card-authors">
      <div class="card-author"> <img class="responsive" src="https://images.unsplash.com/photo-1615346832334-23e27e819c0d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80">
        <div class="description">
          <h2>Nicole</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, molestiae eos. Non enim laudantium sed porro consequuntur temporibus, autem in a est nisi, aut eos veritatis hic, vel iusto </p>
        </div>
      </div>
      <div class="card-author">
        <div class="description" id="raz">
          <h2>Raz</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, molestiae eos. Non enim laudantium sed porro consequuntur temporibus, autem in a est nisi, aut eos veritatis hic, vel iusto </p>

        </div>
        <img class="responsive" src="https://images.unsplash.com/photo-1615346832334-23e27e819c0d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80">
      </div>
      <div class="card-author"> <img class="responsive" src="https://instagram.flhr2-3.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s750x750/106815212_112228257076257_3393327654885453945_n.jpg?tp=1&_nc_ht=instagram.flhr2-3.fna.fbcdn.net&_nc_cat=109&_nc_ohc=g0c6jtIQznoAX_WYZr4&ccb=7-4&oh=eaadf2a040b124dd4eeeacd1dce56aa1&oe=607EF7D8">
        <div class="description">
          <h2>Mags</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, molestiae eos. Non enim laudantium sed porro consequuntur temporibus, autem in a est nisi, aut eos veritatis hic, vel iusto </p>
        </div>
      </div>
    </div>
  </div>
</div>


