<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.pexels.com/photos/2748757/pexels-photo-2748757.jpeg?cs=srgb&dl=pexels-evie-shaffer-2748757.jpg&fm=jpg)";>
  <div class="container banner-text">
    <h1>hey, how's it growing?</h1>
    <p>find the perfect plant match to grow your plant patch</p>
    <%# <a href="#section2">get matched!</a> %>
    <%= link_to "get matched!", questions_path, class: "btn btn-main btn-home" %>
  </div>
</div>


<div class="q-module">
  <div class="container">
    <h2><strong>lettuce</strong> get started... </h2>
    <%= image_tag "hig-logo-plant.png", class: "q-logo" %>
    <p> what do you want to grow? </p>
  </div>

  <%= link_to questions_path, :action => 'go' do %>
  <div class="container-fluid">
    <div class="goal-cards">
      <div class="q-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1432457990754-c8b5f21448de?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8bGVtb24lMjB0cmVlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)">
        <h4 id="home-card"> something edible </h4>
      </div>
      <div class="q-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dtrymfluw/image/upload/v1616702096/Screenshot_2021-03-25_at_19.54.14_vbir4d.png)">
        <h4 id="home-card"> something beautiful </h4>
      </div>
      <div class="q-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1463936575829-25148e1db1b8?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FjdHVzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)">
        <h4 id="home-card"> something unkillable </h4>
      </div>
      <div class="q-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1600066979478-0d94d8fed1f7?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzR8fGluZG9vciUyMHBsYW50c3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60)">
        <h4 id="home-card"> something for fun </h4>
      </div>
    </div>
  </div>
<% end %>
</div>
