<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.pexels.com/photos/2748757/pexels-photo-2748757.jpeg?cs=srgb&dl=pexels-evie-shaffer-2748757.jpg&fm=jpg)";>
  <div class="container banner-text">
    <h1>hey, how's it growing?</h1>
    <p>find the perfect plant match to grow your plant patch</p>
    <%= link_to "get matched!", questions_path, class: "btn btn-main btn-home" %>
  </div>
</div>
<div class="q-module">
  <div class="container">
    <h2> lettuce get started... </h2>
    <%= image_tag "hig-logo-plant.png", class: "q-logo" %>
    <p> what's your goal? </p>
  </div>
  <%= link_to questions_path, :action => 'go' do %>
  <div class="container-fluid">
    <div class="q-cards">
      <div class="q-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1407305/pexels-photo-1407305.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260)">
        <h4> grow something edible </h4>
      </div>
      <div class="q-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
        <h4> grow something beautiful </h4>
      </div>
      <div class="q-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/2382325/pexels-photo-2382325.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260)">
        <h4> grow something unkillable </h4>
      </div>
      <div class="q-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/2318555/pexels-photo-2318555.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260)">
        <h4> grow something for fun </h4>
      </div>
    </div>
  </div>
<% end %>
</div>
