<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(https://images.pexels.com/photos/2748757/pexels-photo-2748757.jpeg?cs=srgb&dl=pexels-evie-shaffer-2748757.jpg&fm=jpg)";>
  <div class="container banner-text">
    <h1>hey, how's it growing?</h1>
    <p>find the perfect plant match to grow your plant patch</p>
    <%= link_to "get matched!", root_path, class: "btn btn-main btn-landing" %>
  </div>
</div>
