.q-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px 5px;
}

@media(max-width: 992px) {
  .q-cards {
   grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 650px) {
  .q-cards {
   grid-template-columns: 1fr;
  }
}

.space-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 5px;
}

@media(max-width: 992px) {
  .space-cards {
   grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 650px) {
  .space-cards {
   grid-template-columns: 1fr;
  }
}

.q-card {
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  text-align: center;
  color: $main;
  background-size: none;
  background-position: center;
  height: 300px;
  // width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 8px;
  transition: all .5s ease; /* back to normal */

  h4{
    padding: 20px;
  }

  &:hover {
   transform: translate3D(0,-1px,0) scale(1.03);
   transition: all .4s ease; /* zoom in */
  }

  &:focus {
    box-shadow: 0 0 15px $green;
  }
}

.match-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 5px;
  margin-left: 250px;
}

@media(max-width: 992px) {
  .match-cards {
   grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 650px) {
  .match-cards {
   grid-template-columns: 1fr;
  }
}

.match-card {
  overflow: hidden;
  // background: $gray;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-align: center;
  width: 300px;

  img {
    height: 300px;
    width: 100%;
    object-fit: none;
  }
}

.match-info {
  padding: 16px;
  background-color: $main;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  text-align: center;
}
