.q-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px 5px;
}

@media(max-width: 992px) {
  .q-cards {
   grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 650px) {
  .q-cards {
   grid-template-columns: 1fr;
  }
}

.q-card {
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  text-align: center;
  color: $main;
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 8px;

  h4{
    padding: 20px;
  }
}
