.b-form {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1595672845453-85658773cc9a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-repeat: no-repeat;
    min-width: 400px;
    background-size: cover;
    background-position: center;
    padding: 20px 0px;

    label {
      //font-weight: bolder;
    }
  }

.form-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: -webkit-center;
  color: white;

}

.edit-wrapper {
  display: flex;
  flex-direction: column;
  padding: 68px 150px;
  background-color: $main;

  @media (max-width: 991px) {
      padding-left: 50px;
      padding-right: 50px;
  }
  @media (max-width: 575px) {
      padding-top: 20px;
      padding-bottom: 20px;
      min-height: 100vh;
  }
}
