.footer {
  background: $l-yellow;
  //height: 100px;
  padding: 10px 50px;
  color: rgba(0,0,0,0.3);
  font-size: 10px;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 10px;
}

.footer-tiles {
  color: $navy;
  font-size: 14px;
  margin: 22px;
  opacity: 0.75;
  text-decoration: none;

   a:hover {
    text-decoration: none;
    color: $main !important;
  }
}

.footer-links {
   a {
    color: $main;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }

  a:hover {
    opacity: 0.75;
  }
}


