// .category-wrapper {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
// }
// .category-item {
//   flex: 0 0 30%;
// }
.category-selector {
  position: absolute;
  transform: scale(0);
}
.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  padding: 125px 20px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-position: center;
  }
#match_q1_something_edible + label {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://images.unsplash.com/photo-1432457990754-c8b5f21448de?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8bGVtb24lMjB0cmVlfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}
#match_q1_something_beautiful + label {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://res.cloudinary.com/dtrymfluw/image/upload/v1616702096/Screenshot_2021-03-25_at_19.54.14_vbir4d.png");
}
#match_q1_something_unkillable + label {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://images.unsplash.com/photo-1463936575829-25148e1db1b8?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FjdHVzfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}
#match_q1_something_for_fun + label {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://images.unsplash.com/photo-1600066979478-0d94d8fed1f7?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MzR8fGluZG9vciUyMHBsYW50c3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}
#match_q2_indoors + label {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://images.pexels.com/photos/3125195/pexels-photo-3125195.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
#match_q2_outdoors + label {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://images.unsplash.com/photo-1486328228599-85db4443971f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
}
#match_q2_dont_mind + label {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://images.pexels.com/photos/6231753/pexels-photo-6231753.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
// .category-selector:checked + label {
// }

// .greyed-out {
//   opacity: 0.7;
// }
// #snippet_category_ruby + label {
//   color: #FD1015;
// }
// #snippet_category_ruby:checked + label {
//   background-color: #FD1015;
//   border-color: #FD1015;
// }
// #snippet_category_javascript + label {
//   color: #FFC65A;
// }
// #snippet_category_javascript:checked + label {
//   background-color: #FFC65A;
//   border-color: #FFC65A;
// }
// #snippet_category_css + label {
//   color: #62DDF5;
// }
// #snippet_category_css:checked + label {
//   background-color: #62DDF5;
//   border-color: #62DDF5;
// }
