.navbar-lewagon {
  justify-content: space-between;
  background: $main;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
}

.nav-logo {
  height: 35px;
  transition: all .3s ease; /* back to normal */

   &:hover {
   transform: translate3D(0,-1px,0) scale(1.03);
   transition: all .2s ease; /* zoom in */
  }
}
