.navbar-lewagon {
  justify-content: space-between;
  background: $main;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
}

.nav-logo {
  height: 35px;
}
