/* Basic Styling */
.info-container {
  // max-width: 1300px;
  // margin: 0 auto;
  // padding: 15px;
  // width: 80%;
  // color: $navy;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // grid-gap: 20px 5px;

  color: $navy;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px 15px;
  min-height: calc(100vh - 151px);
  overflow: hidden;
}

@media(max-width: 850px) {
  .info-container {
   grid-template-columns: 1fr;
   height: auto;
  }
}

  /* Columns */
.left-column {
  position: relative;
  order: 1;
  justify-content: left;
  top: 0;
  height: 100%;

  img {
    //height: calc(100vh - 161px);
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

   .back-icon {
    position: absolute;
    top: 8px;
    left: 24px;
    color: $l-yellow;

    &:hover {
      color: $yellow;
    }

  }
}

.plant_feature {
  background-color: #BACDCC;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 6px;
  padding: 8px;
  padding-top: 16px;
  margin-bottom: 10px;
  ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
  margin-left: 3em;
  text-indent: -3em
 }
}

.right-column {
  order: 2;
  padding: 0px 35px;
  display: flex;
  flex-direction: column;
  // justify-content: space-evenly;
  position: relative;

  h2 {
    font-weight: bolder;
    //text-align: center;
  }

  p {
    padding-right: 15px;
    //text-align: center;
  }
}
